# Clockify API Base URL
CLOCKIFY_API_BASE_URL=clockify_api_base_url

# Clockify API Key (Replace with your actual API key)
CLOCKIFY_API_KEY=your_clockify_api_key

# Clockify Workspace ID (Replace with your actual Workspace ID)
CLOCKIFY_WORKSPACE_ID=your_workspace_id

# Clockify User ID (Replace with your actual User ID)
CLOCKIFY_USER_ID=your_user_id
