CLOCKIFY_API_BASE_URL=clockify_api_base_url
CLOCKIFY_API_KEY=your_clockify_api_key
CLOCKIFY_WORKSPACE_ID=your_workspace_id
CLOCKIFY_USER_ID=your_user_id
TEMPLATE_URL=your-template-url

FIREBASE_API_KEY=your-api-key
FIREBASE_AUTH_DOMAIN=your-auth-domain
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_STORAGE_BUCKET=your-storage-bucket
FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_APP_ID=your-app-id
FIREBASE_MEASUREMENT_ID=your-measurement-id

GOOGLE_APPLICATION_CREDENTIALS=your-google-credentials.json
GOOGLE_SCOPES=your-google-scopes

EMAIL_SERVICE_EMAIL=your-email
EMAIL_SERVICE_PASSWORD=your-email-password