@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'KronaOne';
  src: url('/font/KronaOne-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --font-krona: 'KronaOne', sans-serif;
    --surface: #ffffff;
    --branding: #00bb60;
    --branding-secondary: #80e2a7;
    --loader-background-color: #eeeeee;
    --loader-highlight-color: #dedede;

    --background: #f9fafb; /* HSL: 0, 0%, 100% */
    --foreground: #2a3133; /* HSL: 200, 10%, 18% */

    --muted: #f1f5f9; /* HSL: 210, 40%, 96.1% */
    --muted-foreground: #7d8591; /* HSL: 215, 9%, 52% */

    --popover: #ffffff; /* HSL: 0, 0%, 100% */
    --popover-foreground: #2a3133; /* HSL: 200, 10%, 18% */

    --card: #ffffff; /* HSL: 0, 0%, 100% */
    --card-foreground: #2a3133; /* HSL: 200, 10%, 18% */

    --border: #e2e8f0; /* HSL: 214, 26%, 90% */
    --input: #e2e8f0; /* HSL: 214, 26%, 90% */

    --primary: #00bb60; /* HSL: 153, 100%, 37% */
    --primary-foreground: #f8fafc; /* HSL: 210, 40%, 98% */

    --secondary: #f1f5f9; /* HSL: 210, 40%, 96.1% */
    --secondary-foreground: #0d1b2a; /* HSL: 210, 50%, 10% */

    --accent: #f1f5f9; /* HSL: 210, 40%, 96.1% */
    --accent-foreground: #0d1b2a; /* HSL: 210, 50%, 10% */

    --destructive: #e57373; /* HSL: 0, 70%, 65% */
    --destructive-foreground: #f8fafc; /* HSL: 210, 40%, 98% */

    --ring: #2a3133; /* HSL: 200, 10%, 18% */

    --radius: 0.5rem;
  }

  .dark {
    --surface: #12191b;
    --loader-background-color: #1b2427;
    --loader-highlight-color: #2c3a47;

    --background: #12191b; /* HSL: 196, 25%, 10% */
    --foreground: #e4e5e5; /* HSL: 180, 3%, 90% */

    --muted: #2c3a47; /* HSL: 215, 25%, 22% */
    --muted-foreground: #a0aec0; /* HSL: 215, 20%, 69% */

    --popover: #12191b; /* HSL: 196, 25%, 10% */
    --popover-foreground: #e4e5e5; /* HSL: 180, 3%, 90% */

    --card: #12191b; /* HSL: 196, 25%, 10% */
    --card-foreground: #e4e5e5; /* HSL: 180, 3%, 90% */

    --border: #2c3a47; /* HSL: 215, 25%, 22% */
    --input: #2c3a47; /* HSL: 215, 25%, 22% */

    --primary: #00bb60; /* HSL: 210, 40%, 98% */
    --primary-foreground: #e4e5e; /* HSL: 210, 50%, 10% */

    --secondary: #2c3a47; /* HSL: 215, 25%, 22% */
    --secondary-foreground: #f8fafc; /* HSL: 210, 40%, 98% */

    --accent: #2c3a47; /* HSL: 215, 25%, 22% */
    --accent-foreground: #f8fafc; /* HSL: 210, 40%, 98% */

    --destructive: #993366; /* HSL: 330, 33%, 40% */
    --destructive-foreground: #f8fafc; /* HSL: 210, 40%, 98% */

    --ring: #abb3c0; /* HSL: 210, 14%, 73% */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
